assets/modak.inc linguist-language=GDScript
assets/russo.inc linguist-language=GDScript
export.cfg linguist-language=GDScript
engine.cfg inguist-language=GDScript
supercleitom.afk inguist-language=GDScript
assets/RussoOne-Regular.ttf linguist-language=GDScript
assets/modak.ftt linguist-language=GDScript
assets/modak.sv.png.flags linguist-language=GDScript
