HandSpinner/engine.cfg linguist-language=GDScript
SuperCleitomGodot/export.cfg linguist-language=GDScript
PrimeiroJogoGodot/Felpudo-Fly/engine.cfg linguist-language=GDScript
SuperCleitomGodot/engine.cfg linguist-language=GDScript
PrimeiroJogoGodot/Felpudo-Fly/export.cfg linguist-language=GDScript
SuperCleitomGodot/assets/russo.inc linguist-language=GDScript
SuperCleitomGodot/assets/modak.inc linguist-language=GDScript
HandSpinner/assets/font100.inc linguist-language=GDScript
PrimeiroJogoGodot/Felpudo-Fly/assets/font160.inc linguist-language=GDScript
TimberFelpudo/engine.cfg linguist-language=GDScript
TimberFelpudo/assets/font140.inc linguist-language=GDScript
TimberFelpudo/assets/engine.cfg linguist-language=GDScript
